<!-- <div>

<h1>Welcome to EricResnick.com</h1>

<h3>This website is currently under construction, check back soon for a full site.</h3>

<img src="/images/eric_resnick_resume_14.jpg" width = "800" border="1">

</div> -->